@namespace MatBlazor
@typeparam TValue
@inherits BaseMatRadioGroupInternal<TValue>
<CascadingValue Value="@this">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label for="@Id">@Label</label>
    }
    <input type="hidden" class="radio-buttons" Id="@Id" />
    @if (Items != null)
    {
        foreach (var item in Items)
        {
            if (ItemTemplate != null)
            {
                @ItemTemplate(item)
            }
            else
            {
                <MatRadioButton T="T" Value="@item">@item</MatRadioButton>
            }
        }
    }
    @ChildContent
</CascadingValue>